<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.priyanshbalyan.someprojects" >
	
	<uses-permission
		android:name="android.permission.SYSTEM_ALERT_WINDOW">
	</uses-permission>
	<uses-permission
		android:name="android.permission.READ_EXTERNAL_STORAGE">
	</uses-permission>
	<uses-permission
		android:name="android.permission.INTERNET">
	</uses-permission>
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
		<activity
			android:name=".AnimationWindow"
			android:label="Animation">
		</activity>
		<activity
			android:name=".CardViewExample"
			android:label="Card View">
		</activity>
		<service
			android:name="com.priyanshbalyan.someprojects.FloatingWindow">
		</service>
		<activity
			android:name="com.priyanshbalyan.someprojects.ImageEffects">
		</activity>
		<activity
			android:name="com.priyanshbalyan.someprojects.PropertyAnimation">
		</activity>
		<activity
			android:name="com.priyanshbalyan.someprojects.GestureControls">
		</activity>
		<activity
			android:name="com.priyanshbalyan.someprojects.AsyncTaskExample">
		</activity>
		<activity
			android:name="com.priyanshbalyan.someprojects.FragActivity">
		</activity>
		<activity
			android:name="com.priyanshbalyan.someprojects.StartThread">
		</activity>
		<activity
			android:name="com.priyanshbalyan.someprojects.SQLActivity">
		</activity>
		<activity
			android:name="com.priyanshbalyan.someprojects.FolderList">
		</activity>
		<activity
			android:name="com.priyanshbalyan.someprojects.TopToolbar"
			android:theme="@style/MaterialTheme">
		</activity>
		<activity
			android:name="com.priyanshbalyan.someprojects.MaterialTabs"
			android:theme="@style/MyMaterialTheme">
		</activity>
		<service
			android:name="com.priyanshbalyan.someorojects.MyService">
		</service>
    </application>

</manifest>
